*{
    margin: 0;
    padding: 0;
}
nav{
    width: 100%;
    height: 65px;
    background: #234acd;
    line-height: 50px;
    animation: nagu 5s infinite;
    
}
@keyframes nagu{
    from{
        background: #021620;
    }
    to{
        background: #acdefa;
    }
}
nav .logo{
    float: left;
}
nav .logo p{
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    padding: 0 25px;
}
nav ul{
    float: right;
    list-style: none;
    margin-right: 30px;
}
nav ul li{
    display: inline-block;
  
    
}
nav ul li a{
    color: rgb(231, 217, 217);
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 20px;
    border: 2px solid rgb(201, 196, 196);
    border-radius: 10px 18px;
   
}
.checkbtn{
color: #fff;
float: right;
font-size: 25px;
cursor:pointer ;
display: none;

}







@media screen and (max-width: 990px){
    nav{
        padding: 0 25px;
    }
   
    .checkbtn{
        display:block;
        margin-right: 30px;
    }
    nav .logo p{
        font-size: 30px;
    }
    nav ul{
        width: 100%;
        height: 100vh;
        background-color: #53694c;
        position: fixed;
        top: 55px;
        left:0;
        
        text-align: center;
    }
    nav ul li{
        display:block;
        margin: 60px 0;
        line-height: 20px;
     
        
    }
    nav ul li a{
        color:rgb(198, 190, 190);
        font-size: 15px;
       
    }
    
    
}